<title><%= @husky_breeder.name %></title>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @husky_breeder.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @husky_breeder.name %></h3>
    <p><%= @husky_breeder.description %></p>
    <p><%= @husky_breeder.website %></p>
    <p><%= @husky_breeder.phone %></p>
    <p><%= @husky_breeder.email %></p>
  </div>
</div>


<%= link_to 'Edit', edit_husky_breeder_path(@husky_breeder), class: "btn btn-link" %>
<%= link_to 'Back', husky_breeders_path, class: "btn btn-link" %>