<title>Pomeranian Husky | The Husky & Pomeranian Mix Breed | Pomsky</title>
<meta name="description" content="Is this the Most Adorable Dog of all time? Visit our site to learn about the Pomsky">
      <div class="row jumbotron">
       <div class="container">
        <div class="col-md-7">
          <h1 class="featurette"><b>The Pomsky</b></h1>
          <p class="lead">We have dedicated this site to what we believe is one of the cutest mix breeds in the world. Below you can find pictures and read about this sweet little dog. If you are in the market for one of these adorable puppies we suggest going to our breeder page by clinking on the link below.</p>
                <br/>
                <%= link_to "Find a Breeder", "pomsky_breeders", class: "btn btn-primary btn-block pull-right" %>
        </div>

        <div class="col-md-5">
          <div class="thumbnail">
           <%= image_tag "pomeranianh.jpg" %>
          </div>
      </div>
    </div>
    </div>
<h1 class="text-center">Recent Photos</h1>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <strong><%= pin.user.name if pin.user %></strong>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pom1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9234473658848776"
     data-ad-slot="8275516448"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr>
<div class="jumbotron">
    <h1 class="text-center pomskyhome"><b>About the Pomeranian Husky</b></h1>
<!-- Social Footer, Colour Matching Icons -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">
        <div class="text-center center-block">
              <a href="https://www.facebook.com/pages/The-Pomeranian-Husky/304621623062877"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
              <a href="mailto:pomeranianhusky@hushmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
</div>
    <h2><b>What is a Pomsky?</b></h2>
    <p>The Pomsky is a beautiful mixed breed with a combined genetic heritage of the Siberian Husky and the Pomeranian. Through the culmination of these two breeds, the Pomsky has acquired many desirable traits of both a physical and temperamental nature. There is a lot to understand about them, but suffice to say, if you love fluffy, intelligent, and playful dogs, then you are in the right place.</p>
      <div class="col-md-5 pull-right">
          <div class="thumbnail">
           <%= image_tag "pomeranianhusky.jpg" %>
          </div>
      </div>
    <h2><b>Breeding and Appearance</b></h2>
    <p>As already stated, this particular hybrid has been produced through the deliberate breeding of the Siberian Husky and the Pomeranian. Just like humans, this breed can take on several different appearances. This will largely be determined by the percentage of DNA each of its fathering breeds have donated to its genetic code. They can be small, tall, have eyes with multiple colors…..a general mix of any of the physical characteristics.</p>
    <p>While the appearance can be diverse, they are usually predictable. When the percentage of husky DNA is equal or higher, the breed tends to be taller. When the pomeranian breed is the larger contributor, the resulting puppies are generally smaller. The goal of most breeders - and the genetic tendency of the breed - is to birth puppies that look like a husky, but maintain the small stature of the pomeranian.</p>
      <div class="col-md-5">
          <div class="thumbnail">
           <%= image_tag "pomskypup.jpg" %>
          </div>
      </div>
    <h2><b>Characteristics<b></h2>
    <p>There is no accepted description of the characteristics of this designer dog. Its newness as a breed has left its official physical description and temperament in a temporary state of flux. Most Pomsky’s are not purebreds. This will remain the case until enough time has passed for this breed to establish its own separate gene pool from which new Pomskys’ can procreate. At that point, the physical appearance should stabilize and a common description will be recognized. For now, we can look to the two breeds that have brought the Pomeranian Husky into existence and surmise the possibilities.</p>
    <h3><i><b>Siberian Husky</b></i><h3>
    <p>Huskies are one of the most intelligent and hard-working breeds that exist today. They were originally bred to pull supplies as sleigh dogs through the Siberian Tundra. They performed exceptionally well and quickly became famous for their unending energy and efficient metabolic processes.</p>
    <p>Their coats are varying mixtures of black, white, brown, and red and they are pleasantly fluffy. There are two layers to their coats.The tails are shaped like a sickle</p>
    <p>They are famous for their striking blue eyes, but their eyes can also be a deep brown or a mixture of the two colors.</p>
    <h3><i><b>Pomeranian</b></i><h3>
    <p>Animal Planet once described this dog as “A big dog in a little body.” It is an apt description that came to be through its dominating personality. It is a playful and friendly breed with lots of energy. It is highly intelligent...sometimes mixed with a bit of stubbornness which can make training it a bit difficult. It is prone to small dog syndrome, but with proper training this can be easily avoided. While this breed is affectionate, it doesn’t like to be poked, prodded, or teased, so  it is not recommended for families with children.</p>
    <p>The Pomeranian is extremely fluffy with a double-layered coat that offers superb insulation during the winter. The coat can come in such a wide variety of colour combinations that it has surpassed all other breeds on the sheer volume of colour choices. These choices include white, black, brown, red, orange, cream, blue sable, black and tan, brown and tan, spotted, brindle, and different combinations of the named colours.</p>
    <h2><b>How Big Does it Get?<b></h2>
    <p>The breed is still new, so - as previously stated - there is some variance and no clear standard. Typically, the Pomeranian Husky will grow to be half the total weight of its parents’ combined total weight - assuming that the parents are one of each breed. The best weight  and height guess - at the time of this article  - is somewhere around 20 to 30 pounds and 10 to 15 inches tall.</p>
    <h2><b>Grooming</b></h2>
    <p>The Pomsky is a beautiful breed with a fantastic double-layered coat that can be inherited from both sides of the family. The outer layer will either be fluffy like the pomeranian or sleek and incredibly smooth like the Siberian Husky. The inner coat is denser and only varies a little bit in length. </p>
    <p>The inevitable thick coat will require some upkeep, but alas, that is the curse that the owners must bare. It isn’t really that bad though. Fur is easier to maintain than most realize. It requires a simple brushing about once or twice a week. Although, that is more of a minimum. It will require a little more effort if you want to keep your dog looking it’s best. A short daily brushing can increase the shine of the coat by removing dead hairs and tangles. It is recommended, but ultimately, it is more visual than a functional necessity. In addition to the brushings, one or two baths per month is recommended. Nothing fancy, just use some doggy shampoo and clean water. It can take take care of the rest of the coat’s upkeep on it’s own.</p>
    <p>The nails should be regularly filed to prevent them from growing unruly and sharp. This will also help to prevent possible nail infections.</p>
    <h2><b>Temperament<b></h2>
    <p>This breed’s temperament can vary. However, both of the parenting breeds have similar mental attributes. Just a quick warning, this particular dog is still relatively new, so its temperament is still a little bit unpredictable. In general, you can typically assume that they will be intelligent, loving, and very playful. As touched on earlier, they don’t like to be teased, so keep an eye on any children with whom they interact. That wary eye is more for the dog’s sake than the children since the breed isn’t considered dangerous.</p>
    <h2><b>Diet & Health</h2>
    <p>At this time, this breed appears to be very healthy. Aside from some issues with plaque buildup, they do not have any apparent health issues of note. That doesn’t mean that there aren’t any. As with any new breed, it will take time to find out about any possible genetic defects.</p>
    <h2><b>Training</b></h2>
    <p>Both of this breeds’ genetic parents are highly intelligent. Notwithstanding, intelligent doesn’t necessarily mean easy to train. It is half Pomeranian, and that breed is known for being stubborn and slipping into what is known as “Small Dog Syndrome.” This means that they can become rowdy and under the false assumption that they are the ruling party in your household.</p>
    <h4><i><b>Side Note</b></i><h4><p><i>- When training your puppy, keep in mind that owners of this breed have found the “reward method” to be a particularly efficient tactic.</i></p>
    <h2><b>Exercise Requirements</b></h2>
    <p>These energetic bundles of fur could run a marathon before breakfast, so they will need an outlet for their vast amounts of energy. If the energy isn’t spent, it will be bottled up. Like any human child, that pent up energy will probably turn destructive and behavioural problems will begin to arise. The typical outlets should be sufficient - going on a walk, playing fetch, running around the backyard, etc.</p>
    <h2><b>Living Conditions</b></h2>
    <p>Pomskies are adaptable. They are good indoor and outdoor dogs, and they can comfortably live within most large apartments provided that they have enough room to get a sufficient amount of exercise. A backyard is healthy for the mind and body of this breed, but ultimately not essential.</p>
    <p>This dog is susceptible to the heat, so it is a good idea to have air conditioning or an area for them to cool down. The cold, on the other hand, is not an issue. The double coat provides an incredible level of insulation that protects them from arctic temperatures.</p>
    <h2><b>Final Thoughts</b></h2>
    <p>The Pomeranian Husky is a relatively new designer dog, not a mutt. As such it is rare and a bit more spendy than the average dog. It is a beautiful breed; it has quickly captured the eyes of its now adoring public which has only added to its monetary value. Whenever there is money to be made, there are typically a few underhanded individuals that attempt to take advantage of the situation. In this case, there are some “breeders” that sell dogs that look similar to Pomskies, but are not. For this reason, be wary and selective when selecting your breeder; make sure that they are reputable and highly experienced. The cost of this breed can range from $1500 to $5000.</p>



    <iframe width="550" height="350" src="//www.youtube-nocookie.com/embed/_aVit_C1hLg" frameborder="0" allowfullscreen></iframe>
    <h3>Other Breeds you might be interested in:</h3>
    <ul>
      <li><%= link_to "Teacup Pomeranian", "teacup" %></li>
    </ul
</div>
<br/>
<br/>
<div id="fb-root"></div>
</div>