<title>Pomeranian Husky | The Husky & Pomeranian Mix Breed | Pomsky</title>
      <div class="row jumbotron">
       <div class="container">
        <div class="col-md-7">
          <h1 class="featurette"><b>The Pomsky</b></h1>
          <p class="lead">We have dedicated this site to what we believe is one of the cutest mix breeds in the world. Below you can find pictures and read about the sweet little Pomsky. If you are in the market for one of these adorable puppies we suggest going to our breeder page by clinking the link below.</p>
                <br/>
                <%= link_to "Find a Pomsky Breeder", "pomsky_breeders", class: "btn btn-primary btn-block pull-right" %>
        </div>

        <div class="col-md-5">
          <div class="thumbnail">
           <%= image_tag "pomeranianh.jpg" %>
          </div>
      </div>
    </div>
    </div>
<h1 class="text-center">Recent Pomsky Photos</h1>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <strong><%= pin.user.name if pin.user %></strong>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
<hr>
<div class="container">
    <h1 class="text-center"><b>About the Pomeranian Husky</b></h1>
<!-- Social Footer, Colour Matching Icons -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">
        <div class="text-center center-block">
              <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
</div>
    <h2>What is a Pomsky?</h2>
      <div class="col-md-5 pull-right">
          <div class="thumbnail">
           <%= image_tag "pomeranianhusky.jpg" %>
          </div>
      </div>
    <p>If you’re any kind of a dog lover you’ve probably heard about the latest little craze in the dog world known as the Pomeranian Husky, AKA the Pomsky. This new little breed is a designer dog and is the result of the breeding of a Pomeranian and a Siberian Husky. Because this is a mix breed not all dogs will look alike. One breed will almost always dominate the mix but one thing can be sure, you will inevitably end up with one adorable looking pup. That being said, most puppies tend to carry over the look of the Husky with the petite size of the Pomeranian.</p>
    <h2>Pomeranian Characteristics</h2>
    <p>It’s no secret that the Pomeranian can be quite a handful, with lots of energy and often equipped with a feisty attitude this little dog can definitely require a great deal of attention, this is often times the reasoning behind the fact that so many elderly folks consider this dog to be the perfect companion. Small in size with a curved tail and an arctic style coat this breed is definitely considered a favorite among dog owners.</p>
    <h2>Husky Characteristics</h2>
    <p>The Husky itself is a very popular breed. It’s known to have a very strong will and demeanor. The Husky is considered to be a working dog or sled dog in the arctic. Its equipped with a very thick coat of fur meant to withstand some fair harsh wintery conditions.</p>
    <h2>Characteristics of the Pomeranian Husky(Pomsky)</h2>
    <p>Adorable is probably the keyword when it comes to describing the Pomeranian Husky. With cute pointy ears, a curled back tail, and a narrow muzzle the Pomsky is no stranger to holding the title as being one of the all-time cutest designer breeds.</p>
    <h2>Grooming</h2>
      <div class="col-md-5 pull-right">
          <div class="thumbnail">
           <%= image_tag "teacup.jpg" %>
          </div>
      </div>
    <p>Due to the arctic style coat of the Pomsky it’s generally considered good grooming practice to brush your dog at least once per day with a soft bristle style brush. This is important for two reasons; one, it will help ensure that your pup maintains its soft shiny fur, and two it will cut back on the amount of shedding.</p>
    <h2>Health</h2>
    <p>Fortunately there have not been any known medical conditions that have been linked to this specific breed. It’s generally considered to be one of the healthiest designer dog breeds. That being said, because it is such a new dog breed it’s important to keep a close eye on the overall health of your puppy by regularly taking your dog to the veterinarian.</p>
    <h2>Diet & Food</h2>
    <p>Due to the nature of this mix breed and its Pomeranian parent, the Pomsky tends to be a very high energy dog meaning that a good amount of nutrients is required to constantly replenish their energy. To accomplish this it’s highly important that your pup maintain a proper diet through the careful selection of the right dog food. Many pet owners make the mistake of choosing cheap dog food which is mostly meant to fill the stomach of the dog but not necessarily offer them the needed nutrients. This is due to the fact that many dog food contain what are called filler ingredients.</p>
    <h2>How Big do Pomsky's Get?</h2>
    <p>Not only is this probably the most common question that we receive it's also one that many people/websites tend to answer incorrectly. Many Breeders and websites will try to tell you that this pup will be similar to that of a teacup pomeranian, this is not the case. Because this is a designer breed it's weight and size will be dependent on the genetic makeup of the two parents, this can vary greatly. A good rule of thumb for guestimating what size your dog will be is to add up the weight of the pomerananian and husky parents and then simply divide it in half.</p>

    <iframe width="550" height="350" src="//www.youtube-nocookie.com/embed/_aVit_C1hLg" frameborder="0" allowfullscreen></iframe>
</div>
<br/>
<br/>
</div>