<nav class="navbar navbar-static-top navbar-default" role="navigation"> <!-- Brand and toggle get grouped for better mobile display -->
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "The Pomeranian Husky", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Pomsky Breeders", pomsky_breeders_path %></li>
      <li><%= link_to "Pomsky Puppies For Sale", pomsky_puppies_for_sale_path %></li>
    </ul>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
    </ul>
  </div>
</div><!-- /.navbar-collapse -->
</nav>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535449566204e1ee"></script>
